h1 {
	color: red;
}

span {
	color: blue;

}

#map {
    width: auto;
    height: 100px;
    padding: 10px;
    border: 1px solid gray;
    margin: 0; 
}

#info {
	width: 300px;
    height: 400px;
    padding: 10px;
    border: 1px solid black;
    margin: 0; 
    background-color: #fcfcfc;
}

